# Database Settings
DATABASE_HOSTNAME=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=password123
DATABASE_NAME=investment_db
DATABASE_USERNAME=postgres

# Auth Settings
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS (Frontend origin)
ORIGINS=["http://localhost:5173"]
