

.dashboard{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	margin-bottom: 10px;
}

.dashboard > div{
	padding: 0px;
}

@media(max-width: 900px){
	.dashboard{
		grid-template-columns: 1fr;
	}
}

.actionButton{
	cursor: pointer;
	user-select: none;
}

.valuesDiv{
	margin: 0px;
}