.contentDiv {
	margin-left: 200px;
	padding: 10px;
	flex-grow: 1;
}

.dashboard{
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
	height: 40vh;
	margin: 1rem;
}

.restOfPage{
	margin: 1rem;
	background-color: var(--base-bg-light);
}

@media(max-width: 900px){
	.dashboard{
		grid-template-columns: 1fr;
	}
}

.actionButtonHot:hover{
	background-color: #e55a29;
}

.valuesDiv{
	background-color: var(--base-bg-light);
	padding: 1rem;
	color: var(--base-text);
}

.valuesDiv p {
	margin: 0.5rem 0;
	color: var(--base-text-light);
}