
.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	height: 100vh;
	background-color: #212121;
	display: flex;
	flex-direction: column;
	color: #e0e0e0;
	box-shadow: 4px 0 10px -2px rgba(0,0,0,0.5);
}

.sidebar-header {
	padding: 1rem;
	border-bottom: 1px solid var(--base-border);
}

.user-info {
	margin: 0;
	font-size: 0.9rem;
	color: #aaaaaa;
	word-wrap: break-word;
}

.sidebar-nav {
	flex-grow: 1;
	padding: 1rem 0;
}

.sidebar-button {
	display: block;
	width: 100%;
	padding: 0.75rem 1rem;
	background-color: transparent;
	border: none;
	color: var(--base-text);
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
}

.sidebar-button:hover {
	background-color: var(--base-bg-light);
}

.sidebar-footer {
	padding: 1rem;
	border-top: 1px solid var(--base-border);
}

.sidebar-footer .sidebar-button {
	padding: 0;
	color: #FF6C37;
}
