.pieChartDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chartTitle {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
	color: #ffffff;
}
